registry=https://artifactory.springlab.enel.com/artifactory/api/npm/npm-public/
always-auth=true
//artifactory.springlab.enel.com/artifactory/api/npm/npm-public/:_auth="emluX3BsYXRmb3JtMDE6QUtDcDhrclZOZDRTdHpzZWYyVVljYWJFOVh2TDliemVtYkp6V0JGZlUyNjdmZ1ZBbmVMWlZ5eEJVUVRmNk1iQzZLcXcyNWFjRQ=="