
 <main [attr.aria-label]="'availableServiceCards.servicesList' | translate">
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let serviceCard of servicesCards">
            <ng-template carouselSlide *ngIf="serviceCard.isVisible">
                <div class="custom-card d-flex flex-column justify-content-between bg-white p-3 mx-4 my-3" style="min-height: 180px; height: 180px">
                    <div>
                        <div class="d-flex align-items-center mb-3">
                            <mat-icon class="{{serviceCard.icon}} {{serviceCard.iconColor}} h-auto w-auto me-2"></mat-icon>
                            <p class="fs-5 fw-bold">{{serviceCard.title | translate}}</p>
                        </div>
                        <p class="fs-6 lh-1 color-grey">{{serviceCard.description | translate}}</p>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <a href="#" [routerLink]="'/'+serviceCard.route" class="fs-6">{{serviceCard.actionLabel | translate}}</a>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</main> 

