.rounded-custom {
    border-radius: 20px;
    padding: 20px;
  }
  
  .vertical-align-list li {
    display: flex;
    align-items: center;
  }
  
  .right-content {
    width: 70%;
  }
  
  .word {
    font-size: calc(.5vw + 1vh);
  }
  
  p.bold {
    font-weight: bold;
  
  }
  
  .section {
    padding-top: 35px;
  }
  