<div>
    <p>Invoke a resource (users) of the solution profiling API, must be present profile and can be filtered by territory </p>
</div>
<div class="form-inline" style="margin-bottom: 10px;">
    <div class="form-group">
       <enel-button (keydown.enter)="users()" (click)="users()" type="primary" [buttonText]="'Get users'"></enel-button>
        <enel-button (keydown.enter)="clear()" (click)="clear()" style="margin-left: 10px" type="secondary" [buttonText]="'Clear'"></enel-button>
        <enel-dropdown style="margin-left: 10px" (onSelectedOption)="selectProfile($event)" [options] = profiles [placeholder] = "'Seleziona'">
        </enel-dropdown>
        <enel-dropdown style="margin-left: 10px" (onSelectedOption)="selectTerritory($event)" [options] = territories [placeholder] = "'Seleziona'">
        </enel-dropdown>
    </div>
</div>

<enel-table [bordered]="false">
    <tr slot="thead">
        <th scope="col"><enel-th [sortTableColumn]="'user'" (OnSorting)="updateSorting($event)" [sortable]='true'>user</enel-th></th>
        <th scope="col"><enel-th [sortTableColumn]="'name'" (OnSorting)="updateSorting($event)" [sortable]='true'>name</enel-th></th>
        <th scope="col"><enel-th>surname</enel-th></th>
        <th scope="col"><enel-th>email</enel-th></th>
    </tr>
    <tr slot="tbody" *ngFor="let elem of data | orderBy : orderByKey : orderDirection">
        <td>{{elem.user}}</td>
        <td>{{elem.name}}</td>
        <td>{{elem.surname}}</td>
        <td>{{elem.email}}</td>
    </tr>
</enel-table>