<!-- Banner -->
<app-banner></app-banner>

<div class="bg-light-grey pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Building manager -->
                <!--div *ngIf="userBuildingManager" class="d-flex justify-content-end">
                    <button mat-button (click)="openManagerInfoDialog()" color="primary">
                        <span class="me-2">{{'generic.buildingManager' | translate}}</span>
                        <mat-icon class="ei-user fs-5 w-auto h-auto"></mat-icon>
                    </button>
                </div-->

                <!-- Services cards -->
                <app-services-cards></app-services-cards>
            </div>
        </div>
    </div>
</div>

<!-- Booking section -->
<app-bookings-section></app-bookings-section>
