<div class="footer d-flex flex-row align-items-center">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-row justify-content-end">
                <div class="footer-links d-flex flex-row justify-content-center align-items-center text-center">
                    <div class="pe-4">
                        <a href="./assets/doc/Informativa%20Crew%202021_clean_rv.pdf" target="_blank" class="text-white">{{'terms' | translate}}</a>
                    </div>
                    <div class="pe-4">
                        <a class="text-white" href="./assets/doc/02122021_Regolamento%20CReW%20(2).pdf" target="_blank">{{'downloadRules' | translate}}</a>
                    </div>
                    <div>
                        <a class="text-white" href="./assets/doc/Vademecum%20sicurezza.pdf" target="_blank">{{'downloadSecurity' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
