<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="fs-2 fw-bold pt-5 pb-4">{{'booking.myBookings' | translate}}</h2>
        </div>
    </div>

    <div class="row pb-4">
        <div class="col-12 col-md-6 order-1 order-md-0 d-flex flex-column justify-content-center">
            <h3 class="fs-3 fw-bold color-primary">Coming soon!</h3>
            <p class="fs-5 color-grey">{{'booking.description' | translate}}</p>
        </div>
        <div class="col-12 col-md-6 order-0 order-md-1">
            <img src="assets/images/Coming%20soon%201.svg" alt="{{'booking.imageDescription' | translate}}" class="w-100 px-5">
        </div>
    </div>
</div>

<!-- Booking filters -->
<!--app-bookings-filters></app-bookings-filters-->

<!-- Booking List -->
<!--app-bookings-list></app-bookings-list-->
